<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CoffeeWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nivonaStatistics">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Nivona Statistik
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coffeePackagesSite">
                <span class="oi oi-plus" aria-hidden="true"></span> Kaffee Packungen
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coffeeAi">
                <span class="oi oi-star" aria-hidden="true"></span> Kaffee AI
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
