@page "/coffeeAi"
@using Blazorise
@using Blazorise.Charts
@using Blazorise.Icons.FontAwesome
@using CoffeeWeb.Services
@using System.Globalization

@inject NivonaStatisticsService nivonaStatsService

<PageTitle>Coffee-AI-Services</PageTitle>
<h1>Coffee-AI-Statistic Services </h1>

<h2>Coffee-AI-Statistic Forecast </h2>
<Label>Enter date for Forecast (yyyy-MM-dd)</Label>
<InputText @bind-Value="dateForForecast" />
<Button Color="Color.Primary" @onclick="HandleButtonClickAsync">Predict</Button>

<p>@outputPrediction</p>

<h2>Coffee-AI-Statistic Image Parser </h2>
<Label>Insert image of statisic page in Nivona App here</Label>

<InputFile OnChange="HandleFileUpload" />

@code {
    private string dateForForecast = DateTime.Now.ToString("yyyy-MM-dd");
    private string outputPrediction = string.Empty;
    private async void HandleButtonClickAsync()
    {
        outputPrediction = string.Empty;
        DateTime now = DateTime.UtcNow;
        var result = await nivonaStatsService.GetForecastAsync(now);
        outputPrediction = result;
    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var stream = file.OpenReadStream();
        var fileParameter = new FileParameter(stream, file.Name, file.ContentType);
        await nivonaStatsService.UploadImageForStatsAsync(fileParameter);
        }
}