@page "/"

<PageTitle>Index</PageTitle>

<div class="container mt-5">
    <h1 class="text-center">Ziele 2024 - Dotnet Teil</h1>

    <div class="mt-4">
        <h2>Ziele 2024:</h2>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Upgrade der Bestandsanwendung von .NET 6 und .NET 8 auf .NET 9 mithilfe des Upgrade-Tools
                <span class="badge bg-success">✔️</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Einbau von KI/ChatGPT
                <span class="badge bg-success">✔️</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Überarbeitung der Seite mithilfe von GitHub Copilot
                <span class="badge bg-success">✔️</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                DevSecOps-Konzepte anwenden
                <span class="badge bg-success">✔️</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Aufbau einer CI/CD mit GitLab, die auch Docker einsetzt
                <span class="badge bg-success">✔️</span>
            </li>
        </ul>
    </div>

    <div class="mt-4">
        <h2>Was sonst noch passiert ist:</h2>
        <ul class="list-group">
            <li class="list-group-item">
                Infrastruktur von Gitea auf GitLab umgezogen
                <ul>
                    <li>CI/CD aufbauen <span class="badge bg-success">✔️</span></li>
                    <li>GitLab muss auch wieder an Sonar angebunden werden usw <span class="badge bg-success">✔️</span></li>
                    <li>
                        Docker Registry aufbauen, welche dann auch automatisch wieder auf der NAS die Container updated...
                        <span class="badge bg-danger">🗙</span> Mach kein Sinn mehr, ich muss docker privieged ausführen und genau davor wird nach DevSecOp gewarnt. 
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
