@page "/"

<PageTitle>Index</PageTitle>

<h1>Nivona Kaffee Statistik</h1>

TBD - Hier entsteht meine erste Statistik Anwendung.
Gewünscht im ersten Draft: einfach Stupide der Count an Gesam zahl der Tassen die Getrunken wurde -> daten kommend von der API mit .net 8
zweiter draft aufgedröselt nach einzelnen sorten. kaffee? Americano...
<SurveyPrompt Title="How is Blazor working for you?" />
