@page "/"

<PageTitle>Index</PageTitle>

<h1>Nivona Kaffee Statistik</h1>

<h2>Nivona Kaffeemaschine Statistik</h2>
TBD - Hier entsteht meine erste Statistik Anwendung.<br />
Gewünscht im ersten Draft: einfach Stupide der Count an Gesam zahl der Tassen die Getrunken wurde -> daten kommend von der API mit .net 8
<br />
zweiter draft aufgedröselt nach einzelnen sorten. kaffee? Americano...
<br />
<h2>Kaffepackung-Statistik.</h2>
weitere Seite Kaffepackung.
<br />
Kaffeepackung angebrochen am:
<br />
Refill am:
<br />
Kaffeepackung auf vorrat:
