@page "/"

<PageTitle>Index</PageTitle>

<h1>Nivona Kaffee Statistik</h1>

<h2>Nivona Kaffeemaschine Statistik</h2>
<p>TBD - Hier entsteht meine erste Statistik-Anwendung.</p>
<p>Gewünscht im ersten Draft: Einfach stupide die Gesamtzahl der getrunkenen Tassen anzeigen -> Daten von der API mit .NET 8.</p>
<p>Zweiter Draft aufgeschlüsselt nach einzelnen Sorten: Kaffee, Americano...</p>

<h2>Kaffepackung-Statistik</h2>
<p>Auf dieser Seite wird die Kaffeevorrat-Statistik erfasst.</p>
<p>Kaffeepackung angebrochen am: [Datum]</p>
<p>Refill am: [Datum]</p>
<p>Kaffeepackung auf Vorrat: [Anzahl der Packungen]</p>
